:root {
    --cor-0: #ffffff;
    --cor-1: #f0f0f0;
    --cor-2: #F0EEED;
    --cor-3: #000000;
    --cor-4: #FFC633;

}

.cor-0 {
    color: var(--cor-0);
}

.cor-1 {
    color: var(--cor-1);
}

.cor-2 {
    color: var(--cor-2);
}

.cor-3 {
    color: var(--cor-3);
}

.cor-4 {
    color: var(--cor-4);
}