.header {
  margin: 30px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  margin: 5px 30px 5px 10px;
}

.header-nav {
  display: block;
  margin: 5px 20px 5px 10px;
}

.header-nav ul {
  display: flex;
  gap: 10px;
}

.header-nav li {
  padding: 0 10px;
}

.header-nav li:hover {
  font-weight: bold;
  transition: 0.3s;
}

.header-nav.hamburger {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 50vh;
  height: 100vh;
  z-index: 200;
  background-color: var(--cor-0);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.header-nav.header-nav.hamburger ul {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
}
.header-nav.hamburger li {
  margin-bottom: 20px;
}

.close-btn {
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.search {
  display: block;
  margin: 5px 20px 5px 10px;
  flex-grow: 1;
}
.search form {
  display: flex;
}

.mobile {
  display: none;
}

.search input {
  width: 100%;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: #f0f0f0;
}

.search input:focus {
  outline: none;
}

.search button {
  border: none;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
  padding: 5px;
}

.search button img {
  padding: 3px 6px;
  max-width: 18px;
}

.header-icons {
  display: flex;
  margin: 5px 20px 5px 10px;
  align-content: center;
  gap: 8px;
}

.header-icons button,
.btn-hamburger {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.btn-hamburger {
  margin-left: 10px;
  display: none;
}

@media (max-width: 930px) {
  .btn-hamburger {
    display: block;
  }
  .header-nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .search {
    display: none;
  }
  .search.mobile {
    display: block;
    margin: 0 10px 20px 10px;
  }
  .header {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .btn-hamburger,
  .logo,
  .header-icons {
    margin: 5px 10px;
  }
}
