.header {
  margin: 30px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  margin: 5px 30px 5px 10px;
}

.header-nav {
  display: none;
  margin: 5px 20px 5px 10px;
}

.header-nav.active {
  display: block;
}

.header nav ul {
  display: flex;
  gap: 10px;
}

.header li {
  padding: 0 10px;
}

.header li:hover {
  font-weight: bold;
  transition: 0.3s;
}
.search {
  display: none;
  margin: 5px 20px 5px 10px;
  flex-grow: 1;
}

.search.active {
  display: block;
}

.search form {
  display: flex;
}

.search input {
  width: 100%;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: #f0f0f0;
}

.search input:focus {
  outline: none;
}

.search button {
  border: none;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
  padding: 5px;
}

.search button img {
  padding: 3px 6px;
  max-width: 18px;
}

.header-icons {
  display: flex;
  margin: 5px 20px 5px 10px;
}

.header-icons img {
  margin-right: 10px;
  cursor: pointer;
}

.hamburger {
  border-top: 2px solid var(--cor-3);
  width: 23px;
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  background: var(--cor-3);
  margin-top: 5px;
}
