.products {
  padding: 60px 0;
  margin-left: 10px;
}
.products h1 {
  text-align: center;
  margin-bottom: 40px;
}
.list-product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
    justify-content: center;
  
  }
  
  .item {
    flex: 1 1 200px;
    display: flex;
    flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
    max-width: 300px;
    gap: 10px;
  
  }
  
  .item-img {
    max-width: 280px;
  }
  
  .item h2 {
    font-weight: 600;
  }
  
  .item-rating {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .list-product h4 {
    font-weight: bold;
}
